.blog-wrap{
	width: 100%;
	height: 708px;
	padding-top: 71px;
	background-image: url("../../images/background.png");
	.blog{
		width: 100%;
		height: 100%;
  		.blog-title{
  			margin-bottom: 33px
  		}
		.flex-blog{
			height: 100%;
			text-align: center;
			span{
				margin-left: 11px;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.5em;
				color: $color;
			}
			h3{
				margin: 8px 0 23px 5px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 24px;
			}
			hr{
				width: 50px;
				border: 1px $color solid;
				letter-spacing: 0.1em;
			}
		}
		.blog-slide{
			
			.blog-content{
				height: auto;
				padding: 0 15px;
				position: relative;
			}
			a{
				width: 100%;
			}
			img{
				width: 100%;
				height: 200px;
				// opacity: 0.5;
				filter: grayscale(100%); 
				&:hover {
				// opacity: 1.0;
				filter: grayscale(0%); 
				}
			}
			.slick-active{
				img{
					// opacity: 1.0;
					filter: grayscale(0%); 
				}
			}
			.slick-dots {
				position: unset;
				display: flex;
				justify-content: center;
				align-items: center;
				
				margin: 0px;
				padding: 30px 0;
				
				list-style-type: none;
				
					li {
						margin: 0 0.25rem;
						button{
							background: #ccbfe0;
						}
					}
				
					button {
						display: block;
						width: 10px;
						height: 10px;
						padding: 0;
						
						border: none;
						border-radius: 100%;
						background: #ccbfe0;
						
						text-indent: -9999px;
					}
				
					li.slick-active button {
						width: 13px;
						height: 13px;
  						transform-origin: center;
						background-color: $color;
						margin-bottom: 5px;
					}
				
			}
			.calendar{
				width: 60px;
				height: 60px;
				background-image: url("../../images/calendar_border.png");
				position: absolute;
				top: 22px;
				left: 26px;
				display: flex; /* Canh giữa bằng flex */
			    justify-content: center;
			    align-items: center;
			    .blog-calendar{
			    	padding: 0px;
			    	width: 40px;
			    	height: 50px;
			    	text-align: center;
			    	.month{
						font-size: 12px;
						font-weight: bold;
						color: white;
			    	}
			    	.day{
			    		font-weight: bold;
			    		font-size: 16px;
			    		color: white;
			    	}
			    }
			}
			.blog-details{
				width: 100%;
				height: 190px;
				background: white;
				.blog-text{
					height: 135px;
					padding: 16px;
					border-bottom: 1px #ededed solid;
					a{
						white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
						font-weight: bold;
						text-decoration: none;
						color: black;
						font-size: 16px;
						margin-bottom: 20px;
						display: block;
						&:hover{
							color: $hover-color;
						}
					}
					p{
						font-family: $font-openSan;
						font-size: $font-size;
						color: #424242;
					}
				}
				.blog-interactive{
					display: inline-block;
					padding: 17px;
					font-size: $font-size;
					color: #c0c0c0;
					.comment{
						font-family: $font-openSan; 
						a{
							color: #c0c0c0;
							&:hover{
								color: $hover-color;
							}
						}
						span{
						font-family: $font-openSan;
						}
						float: left;
						width: auto;
						margin-right: 30px;
					}
					.heart{
						float: left;
						a{
							color: #c0c0c0;
							&:hover{
								color: $hover-color;
							}
						}
						span{
						font-family: $font-openSan;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 575px)  {
	.blog-wrap{
		overflow: hidden;
		.blog{
			.blog-slide{
				.blog-content{
					.blog-details{
						overflow: hidden;
						height: auto;
						.blog-text{
							a{
								white-space: nowrap;
							    overflow: hidden;
							    text-overflow: ellipsis;
							}
							padding: 10px;
							height: auto;
						}
						.blog-interactive{
							padding: 10px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.blog-wrap{
		overflow: hidden;
		.blog{
			.blog-slide{
				.blog-content{
					.blog-details{
						overflow: hidden;
						height: auto;
						.blog-text{
							a{
								white-space: nowrap;
							    overflow: hidden;
							    text-overflow: ellipsis;
							}
							padding: 10px;
							height: auto;
						}
						.blog-interactive{
							padding: 10px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.blog-wrap{
		overflow: hidden;
		height: auto;
		.blog{
			.blog-slide{
				.blog-content{
					.blog-details{
						overflow: hidden;
						height: auto;
						.blog-text{
							a{
								white-space: nowrap;
							    overflow: hidden;
							    text-overflow: ellipsis;
							}
							padding: 10px;
							height: auto;
						}
						.blog-interactive{
							padding: 10px;
						}
					}
				}
			}
		}
	}
}
